name: Titanic ML Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-ml:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run ML training script
        run: |
          python run_pipeline.py

      - name: Upload Confusion Matrix
        uses: actions/upload-artifact@v3
        with:
          name: confusion-matrix
          path: confusion_matrix.png

      - name: Upload Report
        uses: actions/upload-artifact@v3
        with:
          name: classification-report
          path: report.txt
